$color-neutral-colors-white: #fff;
$color-neutral-colors-black: #1d1c2b;

$color-system-default-40: #adadad;
$color-system-default-90: #2b2c2c;


$color-ref-orange-0: #ecbea7;
$color-ref-orange-10: #ff9563;
$color-ref-orange-20: #e47541;

$color-primary-orange: #fe702c;
$color-primary-green: #76a88d;
$color-primary-dark-green: #145246;

$color-secondary-error: #f53939;

//fonts-family
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat Alternates', sans-serif;
$tertiary-font: 'Poppins', sans-serif;
