@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.listItem {
	display: flex;
	align-items: center;
	height: 3.5rem;
	border-radius: 8px;
	background-color: $color-ref-orange-0;
	margin-bottom: 8px;
	padding: 8px;
	width: 100%;
	@include tablet {
		width: 49%;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&_done {
		opacity: 0.7;
		background: $color-ref-orange-20;

		.listItem__text {
			text-decoration: line-through;
			color: $color-neutral-colors-white;
		}
	}

	&__checkbox {
		margin-right: 8px;
	}

	&Btns {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 5rem;
		height: 3rem;
		margin-left: auto;

		&__btn {
			width: 2rem;
			height: 2rem;
			text-align: center;
			font-size: 1rem;
			line-height: 1.2rem;
			border-radius: 50%;
			background: $color-primary-dark-green;
			color: $color-primary-orange;
		}

		&__btn:disabled {
			background: $color-ref-orange-0;
		}
	}
}
