@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.header {
	position: fixed;
	width: 100%;
	padding: 10px;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-primary-dark-green;
}

.title {
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	color:$color-system-default-40;
}

.main {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2rem;
	margin-top: 3rem;
	@include tablet {
		margin-top: 3.75rem;
	}

	@include full_desktop {
		margin-top: 4.625rem;
	}
}
